- var month_names = new Array("January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December");
.block
  .block_head
    .bheadl
    .bheadr
    h2 Detialed View
  .block_content
    form
      h3 Position:
      #{reference.position}
      br
      br
      h3 Referee:
      #{reference.referee}
      br
      br
      h3 Start Date : 
      #{month_names[reference.start_date.getMonth()]} #{reference.start_date.getDate()}, #{reference.start_date.getFullYear()}
      br
      br
      h3 End Date  :
      #{month_names[reference.end_date.getMonth()]} #{reference.end_date.getDate()}, #{reference.end_date.getFullYear()}
      br
      br
      h3 Last Edited :
      #{month_names[reference.updated_date.getMonth()]} #{reference.created_date.getDate()}, #{reference.created_date.getFullYear()}


  .bendl
  .bendr
