div 
  h1 browse
  
  - var month_names = new Array("January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December");
  
  div.span-18
    #{paper.body}
  div.span-6.last#information
    p
      |From : #{month_names[paper.start_date.getMonth()]} #{paper.start_date.getDate()}, #{paper.start_date.getFullYear()}
    p
      |To  : #{month_names[paper.end_date.getMonth()]} #{paper.end_date.getDate()}, #{paper.end_date.getFullYear()}
    p
      |Page Created : #{month_names[paper.created_date.getMonth()]} #{paper.created_date.getDate()}, #{paper.created_date.getFullYear()}

  div.span-17
    a(href='/paper/'+paper._id+'/edit').append-1 Edit
    
    a(href='/papers') Back
